<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="utf-8")

        title CEO WEB
        meta(name="description" content="описание страницы")
        meta(name="copyright" content="информация о вашей фирме")
        meta(name="keywords" content="ключевые слова через запятую")

        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

        meta(property="og:image" content="path/to/image.jpg")
        link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
        link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
        link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")

        <!-- Chrome, Firefox OS and Opera -->
        meta(name="theme-color" content="#000")
        <!-- Windows Phone -->
        meta(name="msapplication-navbutton-color" content="#000")
        <!-- iOS Safari -->
        meta(name="apple-mobile-web-app-status-bar-style" content="#000")

        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic', rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&amp;subset=cyrillic" rel="stylesheet")


        link(rel="stylesheet" href="css/bootstrap.min.css")
        link(rel="stylesheet" href="css/libs.min.css")
        link(rel="stylesheet" href="css/ekko-lightbox.css")
        link(rel="stylesheet" href="css/slick.css")
        link(rel="stylesheet" href="css/slick-theme.css")


    body
        header
            .container
                nav.navbar.navbar-expand-lg.navbar-light.header
                    a.navbar-brand(href='#')
                        img(src="assets/images/logo-sign.svg")
                    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo03', aria-controls='navbarTogglerDemo03', aria-expanded='false', aria-label='Toggle navigation')
                        .icon
                    #navbarTogglerDemo03.collapse.navbar-collapse
                        ul.navbar-nav.m-auto
                            li.nav-item.active
                                a.nav-link(href='#')
                                    | О клубе
                            li.nav-item
                                a.nav-link(href='#') Жизнь клуба
                            li.nav-item
                                a.nav-link(href='#') Членство
                            li.nav-item
                                a.nav-link(href='#') Мероприятия
                            li.nav-item
                                a.nav-link(href='#') Блог
                        .devider
                        ul.navbar-nav.ml-auto
                            li.nav-item
                                a.nav-link.knowledge-base(href='#')
                                    img(src="assets/icons/lock.svg")
                                    span База знаний
                            li.nav-item.dropdown
                                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    | РУС
                                .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                                    a.dropdown-item.active(href='#') РУССКИЙ
                                    a.dropdown-item(href='#') УКРАЇНСЬКА
                                    a.dropdown-item(href='#') ENGLISH
                        .language-mobile
                            a.active(href='#') РУССКИЙ
                            a(href='#') УКРАЇНСЬКА
                            a(href='#') ENGLISH

                section.head-banner
                    a(href="#").slide-down
                        img(src="assets/icons/arrow-down.svg")
                    h1.text-center CEO Club Ukraine
                    h4.text-center Развитие. Общение. Сотрудничество.
                    .action-buttons.text-center
                        button.btn.btn-primary(type='button') Мы на Facebook
                        button.btn.btn-secondary(type='button') Подписаться на дайджест
                    img.banner(src="assets/images/video.png")
        main

            section.priorities
                .container
                    h3 Что CEO Club Ukraine дает своим участникам:
                    .row
                        .col.col-lg-10
                            .sliders-container
                                .bordered-block.slider-carousel-container
                                    .priorities-image-slider
                                        img(src='assets/images/benefits.jpg')
                                        img(src='assets/images/benefits.jpg')
                                    .slider-controls
                                        a.carousel-control-prev
                                            img.rotate180(src="assets/icons/white.svg")
                                        a.carousel-control-next
                                            img(src="assets/icons/white.svg")
                                .annotation-slider-container.slider-carousel-container
                                    .annotation-slider
                                        .annotation
                                            .counter 1
                                            span Участие в крупнейшем закрытом клубе первых лиц компаний среднего и большого бизнеса
                                        .annotation
                                            .counter 2
                                            span  Еще один текст
                                    .slider-controls
                                        a.carousel-control-prev
                                            img.rotate180(src="assets/icons/white.svg")
                                        a.carousel-control-next
                                            img(src="assets/icons/white.svg")
            section.principles
                .container
                    h3 Наши принципы
                    .row
                        .col.col-lg-10.offset-lg-1.col-md-12
                            .row
                                .col.col-lg-4.col-md-6.col-sm-12
                                    .principles-item
                                        img(src="assets/icons/person.svg")
                                        .title Сообщество личностей, а не компаний и статусов
                                .col.col-lg-4.col-md-6.col-sm-12
                                    .principles-item
                                        img(src="assets/icons/value.svg")
                                        .title Создание единой среды, объединяющей людей с общими ценностями и жизненной философией
                                .col.col-lg-4.col-md-6.col-sm-12
                                    .principles-item
                                        img(src="assets/icons/union.svg")
                                        .title Объединение и развитие бизнес-элиты страны
                                .col.col-lg-4.col-md-6.col-sm-12
                                    .principles-item
                                        img(src="assets/icons/reputation.svg")
                                        .title Позитивная деловая репутация как приоритетный критерий членства
                                .col.col-lg-4.col-md-6.col-sm-12
                                    .principles-item
                                        img(src="assets/icons/integration.svg")
                                        .title Быстрая интеграция и эффективная экосистема для удачного сотрудничества
                                .col.col-lg-4.col-md-6.col-sm-12
                                    .principles-item
                                        img(src="assets/icons/event.svg")
                                        .title Территория полного доверия: нетворкинг и мероприятия – инструмент, а не цель
                                .col.col-lg-4.col-md-6.col-sm-12
                                    .principles-item
                                        img(src="assets/icons/balance.svg")
                                        .title Диверсификация различных сфер бизнеса, баланс взглядов, полов и возрастов
                                .col.col-lg-4.col-md-6.col-sm-12
                                    .principles-item
                                        img(src="assets/icons/synergy.svg")
                                        .title Синергия сильнейших для качественных изменений в обществе
                                .col.col-lg-4.col-md-12.col-sm-12
                                    .principles-item
                                        img(src="assets/icons/community.svg")
                                        .title Каждый член клуба – не клиент, а участник сообщества, привносящий свой опыт, внимание и экспертизу
            section.club-is-not
                .container
                    h3 Чем клуб не является
                    .not-items-container
                        .not-item
                            .icon
                            .title Ивент-агентством
                        .not-item
                            .icon
                            .title Платформой для обмена визитками
                        .not-item
                            .icon
                            .title Консьерж-сервисом
                        .not-item
                            .icon
                            .title Лоббистской организацией
                        .not-item
                            .icon
                            .title Местом, где меряются статусом и атрибутикой
                    .text-center
                        button.btn.btn-primary(type='button') Присоединиться к клубу

            section.clubs-life
                .container
                    h3 Жизнь клуба
                    .row
                        .col.col-lg-8.offset-lg-2.text-center
                            h6 Клуб создает и поддерживает целую живую экосистему с удобной инфраструктурой, отточенными инструментами интеграции и взаимодействия между участниками. Членство в клубе дает доступ к десяткам форматов для общения, сотрудничества, образования и насыщенному календарю из более 100 событий в год.
                            .devider
                    .events
                        h3.m-b-72 Некоторые события клубной жизни
                        .row
                            .col.col-lg-6.col-md-12.col-sm-12.col-12
                                .slider-carousel-container
                                    .clubs-life-slider.bordered-block
                                        img(src='assets/images/sergey.jpg')
                                        img(src='assets/images/benefits.jpg')
                                    a.carousel-control-prev.clubs-life-slider-prev
                                        img.rotate180(src="assets/icons/white.svg")
                                    a.carousel-control-next.clubs-life-slider-next
                                        img(src="assets/icons/white.svg")
                                //#carousel.carousel.slide.carousel-fade.bordered-block(data-ride="carousel")
                                //    .carousel-inner
                                //        .carousel-item.active
                                //            img.d-block.w-100(src='assets/images/sergey.jpg', alt='First slide')
                                //        .carousel-item
                                //            img.d-block.w-100(src='assets/images/benefits.jpg', alt='Second slide')
                                //    a.carousel-control-prev(href='#carousel', role='button', data-slide='prev')
                                //        img.rotate180(src="assets/icons/white.svg")
                                //    a.carousel-control-next(href='#carousel', role='button', data-slide='next')
                                //        img(src="assets/icons/white.svg")
                            .col.col-lg-6.col-md-12.col-sm-12.col-12
                                .event-info
                                    .info-container
                                        .date 28 марта 2017
                                        h3.title Встреча с Сергеем Тигипко
                                        .devider.small
                                        .description Описание мероприятия
                    .text-center
                        button.btn.btn-primary(type='button') ПОДРОБНЕЕ О Жизни Клуба

            section.club-house
                #carouselClubHouse.carousel.slide.carousel-fade(data-ride="carousel")
                    .carousel-inner
                        .carousel-item.active
                            a.full-screen(href='assets/images/house.jpg' data-toggle="lightbox" data-gallery="mixedgallery")
                                img(src="assets/icons/expand.svg")
                            img.d-block.w-100(src='assets/images/house.jpg', alt='First slide')
                        .carousel-item
                            a.full-screen(href='assets/images/house.jpg' data-toggle="lightbox" data-gallery="mixedgallery")
                                img(src="assets/icons/expand.svg")
                            img.d-block.w-100(src='assets/images/house.jpg', alt='First slide')


                    a.carousel-control-prev(href='#carouselClubHouse', role='button', data-slide='prev')
                        img.rotate180(src="assets/icons/black.svg")
                    a.carousel-control-next(href='#carouselClubHouse', role='button', data-slide='next')
                        img(src="assets/icons/black.svg")
                .container
                    .house-info.bordered-block
                        .content
                            h3 Клубный дом – место силы CEO Club Ukraine:
                            ul
                                li Центр жизни клуба, объединяющий сильнейших личностей и лучшие умы страны
                                li Два этажа в элегантном особняке на Печерске
                                li Комфортные условия для сосредоточенной работы и важных встреч
                                li Пространство доверия для конфиденциальных обсуждений и переговоров
                                li Уютная атмосфера неформальных вечеров за бокалом вина

            section.upcoming-events
                .container
                    h3 Хотите посетить гостевое мероприятие клуба?
                    .row
                        .col.col-lg-8.offset-lg-2.text-center
                            h6 На некоторые мероприятия мы приглашаем гостей, заинтересованных во вступлении в клуб и соответствующих его высоким стандартам. Подробнее о критериях членства здесь. Гостевое мероприятие – возможность окунуться в атмосферу клуба, узнать больше о наших форматах, познакомиться с членами клуба
                            .devider
                    h3.m-b-72 Ближайшее мероприятие
                    .row
                        .col.col-lg-6.col-md-12.col-sm-12.col-12
                            .bordered-block
                                img.d-block.w-100(src='assets/images/event.jpg')
                        .col.col-lg-6.col-md-12.col-sm-12.col-12
                            .event-info
                                .info-container
                                    .date 28 марта 2018, 19:00
                                    h3.title Встреча с Сергеем Тигипко
                                    .devider.small
                                    .name Сергей Тигипко
                                    .role Политик, Основатель группы ТАС
                                    .action-btn
                                        button.btn.btn-primary(type='button') ЗАРЕГИСТРИРОВАТЬСЯ

            section.club-advice
                .container
                    .row
                        .col.col-lg-4.offset-lg-1.col-md-11.offset-md-1.order-md-2.offset-sm-1.order-sm-2.offset-1.order-2
                            blockquote
                                img(src="assets/icons/quote.svg")
                                span Качество нашей жизни и перспективы нашей деятельности напрямую зависят от того, какие люди нас окружают.  Мы создали окружение сильных, успешных, осознанных и прогрессивных людей с высокими ценностями, чтобы вместе создавать лучшее будущее нашей страны.
                                .devider.small
                                .name Сергей Гайдайчук
                                .role президент CEO Club Ukraine
                        .col.col-lg-7.col-md-12.order-md-1.col-sm-12.order-sm-1.col-12.order-1
                            .bordered-block
                                img.d-block.w-100(src='assets/images/ceo.jpg')
                    h3 Совет клуба
                    .advice-slider-container
                        .advice-slider
                            div
                                .slider-item
                                    .avatar
                                        img(src='assets/images/board-1.jpg')
                                    .title Сергей Гайдайчук
                                    .desc основатель и президент CEO Club Ukraine
                            div
                                .slider-item
                                    .avatar
                                        img(src='assets/images/board-1.jpg')
                                    .title Вячеслав Лысенко
                                    .desc собственник UKR-CHINA COMMUNICATION
                            div
                                .slider-item
                                    .avatar
                                        img(src='assets/images/board-1.jpg')
                                    .title Ярослав Плашко
                                    .desc партнер CMS Group
                            div
                                .slider-item
                                    .avatar
                                        img(src='assets/images/board-1.jpg')
                                    .title Тарас Кириченко
                                    .desc председатель правления Правекс-Банка
                            div
                                .slider-item
                                    .avatar
                                        img(src='assets/images/board-1.jpg')
                                    .title Сергей Гайдайчук
                                    .desc основатель и президент CEO Club Ukraine
                            div
                                .slider-item
                                    .avatar
                                        img(src='assets/images/board-1.jpg')
                                    .title Вячеслав Лысенко
                                    .desc собственник UKR-CHINA COMMUNICATION
                            div
                                .slider-item
                                    .avatar
                                        img(src='assets/images/board-1.jpg')
                                    .title Ярослав Плашко
                                    .desc партнер CMS Group
                            div
                                .slider-item
                                    .avatar
                                        img(src='assets/images/board-1.jpg')
                                    .title Тарас Кириченко
                                    .desc председатель правления Правекс-Банка
                        a(href="#").slider-button.advice-slider-next-button
                            img(src="assets/icons/black.svg")
                        a(href="#").slider-button.advice-slider-prev-button
                            img.rotate180(src="assets/icons/black.svg")

                    .text-center
                        button.btn.btn-primary(type='button') Присоединиться к клубу

            section.blog
                .container
                    h3 Блог клуба
                    .blog-item
                        .left-block
                            .info-container
                                .info
                                    .date 28 марта 2018
                                    .tags
                                        span Рубрики:
                                        a(href="#") Бизнес,
                                        a(href="#") Культура,
                                        a(href="#") Мероприятия
                            .title
                                a(href="#") Украине нужна коалиция реформаторов из государственного и частного секторов — Павло Шеремета
                        .right-block
                            .image(style="background-image: url('assets/images/blog1.jpg')")

                    .blog-item
                        .left-block
                            .info-container
                                .info
                                    .date 28 марта 2018
                                    .tags
                                        span Рубрики:
                                        a(href="#") Бизнес,
                                        a(href="#") Культура,
                                        a(href="#") Мероприятия
                            .title
                                a(href="#") Заметки CEO Club: Партнёрство в бизнесе. Панельная дискуссия
                        .right-block
                            .image(style="background-image: url('assets/images/blog2.jpg')")

                    .blog-item
                        .left-block
                            .info-container
                                .info
                                    .date 28 марта 2018
                                    .tags
                                        span Рубрики:
                                        a(href="#") Бизнес,
                                        a(href="#") Tips from Tops,
                                        a(href="#") Саморазвитие
                            .title
                                a(href="#") TIPS FROM TOPS: Ирина Папуша о саморазвитии
                        .right-block
                            .image(style="background-image: url('assets/images/blog3.jpg')")

                    .text-center.more-button-container
                        button.btn.btn-primary(type='button') Читать больше

            section.partners
                .container
                    h3 Партнеры клуба
                    .flex-container
                        .flex-33
                        .flex-33
                        .flex-33
                        .flex-33
                        .flex-33
                        .flex-33

            section.projects
                .container
                    h3 Проекты клуба
                    .row
                        .col.col-lg-1.col-md-1.col-sm-2.col-2
                            a(href="#").slider-button.projects-slider-prev-button
                                img.rotate180(src="assets/icons/black.svg")
                        .col.col-lg-10.col-md-10.col-sm-8.col-8
                            .projects-slider
                                .test(style="width: 100px; height: 100px; background: lightgray; margin: 0 16px;")
                                .test(style="width: 100px; height: 100px; background: lightgray; margin: 0 16px;")
                                .test(style="width: 100px; height: 100px; background: lightgray; margin: 0 16px;")
                                .test(style="width: 100px; height: 100px; background: lightgray; margin: 0 16px;")
                                .test(style="width: 100px; height: 100px; background: lightgray; margin: 0 16px;")
                        .col.col-lg-1.col-md-1.col-sm-2.col-2
                            a(href="#").slider-button.projects-slider-next-button
                                img(src="assets/icons/black.svg")

        footer
            .container
                .row
                    .col.col-lg-3.offset-lg-1.col-md-2.col-sm-2.hide-on-mobile
                        .devider.white

                    .col.col-lg-4.text-center.col-md-8.col-sm-8.col-12
                        img.logo(src="assets/images/logo-full.svg")

                    .col.col-sm-12.col-12.show-only-mobile.text-center
                        .devider.white.no-margin

                    .col.col-lg-3.offset-lg-1.col-md-2.col-sm-2.hide-on-mobile
                        .devider.white
                .row
                    .col.col-lg-3.offset-lg-1.col-md-6
                        ul.menu
                            li
                                a(href="#") Главная
                            li
                                a(href="#") Форматы
                            li
                                a(href="#") Блог
                            li
                                a(href="#") Мероприятия
                            li
                                a(href="#") Членство

                    .col.col-sm-12.col-12.show-only-mobile.text-center
                        .devider.white.no-margin

                    .col.col-md-3.col-3.offset-lg-1.hide-on-tablet

                    .col.col-lg-4.text-center.col-md-4.offset-md-4.order-md-3.order-sm-3.order-3
                        .social-buttons
                            button.btn.btn-primary.white.with-icons(type='button')
                                img(src="assets/icons/fb.svg")
                                span Facebook
                            button.btn.btn-primary.white.with-icons(type='button')
                                img(src="assets/icons/linkedin.svg")
                                span Linkedin

                    .col.col-lg-3.offset-lg-1.col-md-6.order-md-2.order-sm-2.order-2
                        .contact-list-title Контакты
                        ul.contact-list
                            li
                                span +38 044 22 888 13
                            li
                                a(href="mailto:info@ceoclub.com.ua") info@ceoclub.com.ua
                            li
                                span Клубный дом CEO Club Ukraine:
                                a(href="#") Украина, Киев, Бутышев переулок 23
                .copyright &copy; CEO Club Ukraine


    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="js/bootstrap.min.js")
    script(src="js/ekko-lightbox.min.js")
    script(src="js/slick.min.js")
    script(src="js/libs.js")



